<ActionBar title="Comment" class="action-bar">
</ActionBar>


<StackLayout class="modal-view-style">
    <GridLayout class="m-5" rows="auto auto auto auto" columns="*, *" [formgroup]="commentForm">
        <Label class="h3 m-15" row="0" col="0" text="Your Name" textwrap="true"></Label>
        <TextField class="input input-border" id="textAuthor" hint="Your Name" 
                   [text]="" (textChange)="onAuthorChange($event)" row="0" col="1" 
                   formcontrolname="author">
        </TextField>
        <Label class="h3 m-15" row="1" col="0" text="Rating" textwrap="true"></Label>
        <Slider row="1" col="1" minvalue="1" maxvalue="5" 
                (valueChange)="onRatingSliderChange($event)" formcontrolname="rating">
        </Slider>
        <Label class="h3 m-15" row="2" col="0" text="Comment" textwrap="true"></Label>
        <TextField class="input input-border" id="textComment" hint="Enter comment" 
                   [text]="" (textChange)="onCommentChange($event)" 
                   row="2" col="1" formcontrolname="comment">
        </TextField>
        <Button class="btn btn-primary btn-active m-15" row="3" col="0" text="Submit" 
                (tap)="onSubmit()">
        </Button>
    </GridLayout>
</StackLayout>
